*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(207, 147, 34);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}



button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-top: 20px ;
    margin-bottom: 20px ;
    margin-left: 11px;
    margin-right: 10px;
}

button:active {
    opacity: 30%;;
}

.rock {
    background-color:blueviolet;
}

.paper {
    background-color:green;
}

.scissors {
    background-color:red;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.result {
    font-size: 24px;
    margin-bottom: 20px;
    height: 30px;
}


.your-score span {
    color: blue;
}

.machine-score span{
    color: red;
}